.rbc-event-label{
    background-color: brown;
    /* text-wrap: wrap; */
}

.rbc-event{
    background-color: rgba(0, 0, 255, 0);
    border:1px solid #ff0000;
}

.rbc-day-slot .rbc-event{
    border:0px solid #ff0000;

}

.rbc-selected{

}

.rbc-event-content{
    background-color: black;
}